.projCard {
  width: 500px;
  height: 550px;
  display: flex;
  justify-content: top;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: var(--forground-color);
  box-shadow: 0px 0px 5px 2px rgba(240, 240, 240, 0.342);
  box-sizing: border-box;
  padding: 20px;
  margin: 10px;
  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
  }
}

.projIcon {
  height: 35px;
  margin-right: 10px;
}

.projTitle {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.projImg {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  >img {
    width: auto;
    max-width: 100%;
    border-radius: 5px;
    height: 100%;
    cursor: pointer;
  }
}

.projDesc {
  width: 100%;
  height: fit-content;
  max-height: 150px;
  overflow: auto;
  font-size: 0.9rem;
}

.projLink {
  margin-right: auto;
  margin-top: auto;
  border-color: var(--text-color);
  background-color: rgba(0, 0, 0, 0.072);
  border-radius: 5px;
  padding: 5px;
  box-sizing: border-box;

  >a {
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
  }
}

.projTechs {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &>span {
    font-weight: bold;
    border-color: var(--text-color);
    border-radius: 5px;
    padding-left: 0;
    margin: 0px 20px 0px 0px;
    box-sizing: border-box;
  }
}

.slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.887);
  z-index: 999;
  display: flex;
  align-items: center;
  transition: 0.5s;
  visibility: visible;
  opacity: 1;

  &.closed {
    opacity: 0;
    visibility: hidden;
  }
}

.sliderWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.sliderImg {
  width: auto;
  max-width: 95%;
  max-height: 80vh;
}

.close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 50px;
  color: lightgray;
  cursor: pointer;
}

.arrow {
  margin: 20px;
  font-size: 50px;
  color: lightgray;
  cursor: pointer;
}

@media only screen and (max-width: 560px) {
  .projCard {
    width: 330px;
    height: 500px;

    &:hover {
      transform: none;
    }
  }

  .projImg {
    width: auto;
    max-height: 150px;
  }

  .projDesc {
    margin-bottom: 20px;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: lightgray;
    cursor: pointer;
  }

  .arrow {
    margin: 2px;
    font-size: 30px;
    color: lightgray;
    cursor: pointer;
  }
}