.aboutPage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.abTitle {
  font-size: 3.5rem;
  margin-bottom: 100px;
}

.about {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skills {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.technologies, .languages{
  flex: 1;
  justify-content:flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

.technologies {flex:2}

.technologies > button , .languages > button{
  color: var(--text-color);
  border-color: var(--text-color);
  background-color: var(--background-color);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  font-size: 1.2rem;
}

.aboutInfo {
  flex: 1;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.images {
  display:flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

@media only screen and (max-width: 480px) {
  .technologies > button , .languages > button {
    font-size: small;
  }
}