.homeContainer {
  height: var(--section-max-height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.homeInfo {
  text-align: left;
  margin-top: -10px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeName {
  font-size: 6.5rem;
  margin: 0;
  >.symbol{
    color:rgb(0, 0, 0);
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.678)
  }
}

.homeSmallText {
  font-size: 1.5rem;
}

.homeStatement {
  font-size: 3.5rem;
  font-weight: bolder;
  background: #b3005f;
  background: -webkit-linear-gradient(to right, #b3005f, #00aaff);
  background: linear-gradient(to right, #b3005f, #00aaff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.scrollDown {
  bottom: 0;
  left: 0;
}

@media only screen and (max-width: 600px), screen and (max-height: 480px){
  .homeInfo {
    text-align: center;
  }

  .homeName {
    font-size: 4.5rem;
    margin: 0;
  }

  .homeStatement {
    font-size: 2rem;
    margin: 0;
  }
}