.navContainer {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: none;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--forground-color);
}

.navButton {
  font-size: 1.7rem;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  background: none;
  transition: 0.3s;
}

.navButton:hover {
  background: var(--background-color);
}