:root {
  --background-color: #E7ECEF;
  --text-color: #272932;
  --forground-color: #0F7173;
  --content-max-width: 1024px;
  --section-max-height: 90vh
}

.App {
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}